page-school {

}
.wrapper{
	max-width: 53.33rem;
  padding-top:50%;
	position: relative;
	z-index: 10;
	transform: translateY(-50%);
	top:50%;
	text-align: center;
}
.ls-medium{letter-spacing: 4px;}
.ls-large{letter-spacing: 8px;}
.ls-xlarge{letter-spacing: 12px;}
.bold{font-weight: 700;}
.thin{font-weight: 100;}
.uppercase{text-transform: uppercase;}
.open-sans{font-family: 'Open Sans';}
.lato{font-family: 'Lato'}
.gamma {
  font-size: 2rem; /* 36 / 18 = 2 */
  margin-bottom: 0.825rem;
}
.epsilon {
  font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
  margin-bottom: 1.41429rem;
}
.tera {
  font-size: 6.5rem; /* 117 / 18 = 6.5 */
  margin-bottom: 0.25385rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0;
  color: black;
	display: inline-block;
	position: relative;
}
