<ion-header>
  <ion-navbar>
    <ion-title style="color:white;">
      <div style="color:black;">Les œuvres</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page ">
  <div *ngIf="oeuvres">
    <ion-card (click)="goToDetail(oeuvre); vibrate();" *ngFor="let oeuvre of oeuvres">
      <img src={{oeuvre.image}}/>
      <div class="card-title">{{oeuvre.title}}</div>
      <div class="card-subtitle">{{oeuvre.author}}</div>
    </ion-card>
  </div>
</ion-content>
